# -----------------------------
# Rust
# -----------------------------
/target/
**/target/

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.swp
*.swo
*~

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Build Artifacts
# -----------------------------
*.out
*.exe

# -----------------------------
# RootFS & Images 
# -----------------------------
rootfs/alpine/
rootfs/*.tar.gz

# container runtime state
/var/
